@media (min-width: 1025px) {

  .container{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .animation{
    width: 50%;
    background: #f0e68c;
    height: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*margin: 1% 0 1% 1%;*/

  }
  .sub_container{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    /*margin: 1% 1% 1%;*/
    margin-top: 1%;
    margin-bottom: 1%;
    
  }
  .formula{
    background: #98fb98;
    width: 98%;
    height: 50%;
    border-bottom: 1px solid black;
    padding: 0 1% 1% 1%;
  }
  .description{
    width: 98%;
    background: #66cdaa;
    height: 50%;
    padding: 0 1% 1% 1%;
  }

  /*animation*/

  /*ball movement*/

  @-webkit-keyframes ballMovement {
    0%{top:32px; right:40px;background-color: black;transform: scale(0.2);}
    4%{background-color: #224687;}
     5% {top:32px; right:40px;background-color: #03A9F4;transform: scale(1);}
     10% {top:62px; right:40px;}
     35%{top:106px; right:165px;}
     40%{top:185px; right:170px;}
     55%{top:211px; right:95px;}
     60%{top:275px; right:80px;}
     85%{top:310px; right:170px;}
        90%{top:368px;right:190px;}
        96% {top:368px; right:226px;background-color: #03A9F4;transform: scale(1);}
      100% {top:368px; right:226px;background-color: black;transform: scale(0.6);}
  }

  @keyframes ballMovement {
   0%{top:32px; right:40px;background-color: black;transform: scale(0.2);}
   4%{background-color: #224687;}
     5% {top:32px; right:40px;background-color: #03A9F4;transform: scale(1);}
     10% {top:62px; right:40px;}
     35%{top:106px; right:165px;}
     40%{top:185px; right:170px;}
     55%{top:211px; right:95px;}
     60%{top:275px; right:80px;}
     85%{top:310px; right:170px;}
     90%{top:368px;right:190px;}
     96% {top:368px; right:226px;background-color: #03A9F4;transform: scale(1);}
      100% {top:368px; right:226px;background-color: black;transform: scale(0.6);}
  }



  body {
    background-color: #B4E0E1;
  }

  .wrapper {
    width:300px;
    height:400px;
    position: relative;
    margin: 0 auto;
    margin-top: 3%;
    border-radius: 10px;
    background-color: #E61875;
    box-shadow: inset 0 0 3px 2px #AC1957, 0 0 0 6px white, 0 0 6px 9px rgba(0,0,0,0.5)
  }

  .hole1 {
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    overflow: hidden;
    right:30px;
    top:20px;
  }

  .b1 {
    width:150px;
    height:20px;
    background-color: #F9B24F;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #F9B24F, 8px 8px 0 #AC1957;
    transform:rotate(-20deg);
    position: absolute;
    top:110px;
    right:20px;
  }

  .b1::before {
    content: "";
    position: absolute;
    z-index: 2;
    width:10px;
    height:10px;
    background-color: white;
    border-radius: 50%;
    left:20px;
    top:5px;
  }

  .b1::after {
    content: "";
    position: absolute;
    z-index: 2;
    width:10px;
    height:10px;
    background-color: white;
    border-radius: 50%;
    right:20px;
    top:5px;
  }

  .b2 {
    width:150px;
    height:20px;
    background-color: #F9B24F;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #F9B24F, 8px 8px 0 #AC1957;
    transform:rotate(20deg);
    position: absolute;
    top:210px;
    left:20px;
  }

  .b2::before {
    content: "";
    position: absolute;
    z-index: 2;
    width:10px;
    height:10px;
    background-color: white;
    border-radius: 50%;
    left:20px;
    top:5px;
  }

  .b2::after {
    content: "";
    position: absolute;
    z-index: 2;
    width:10px;
    height:10px;
    background-color: white;
    border-radius: 50%;
    right:20px;
    top:5px;
  }

  .b3 {
    width:150px;
    height:20px;
    background-color: #F9B24F;
    border-radius: 5px;
    box-shadow: 0 0 0 2px #F9B24F, 8px 8px 0 #AC1957;
    transform:rotate(-20deg);
    position: absolute;
    top:310px;
    right:20px;
  }

  .b3::before {
    content: "";
    position: absolute;
    z-index: 2;
    width:10px;
    height:10px;
    background-color: white;
    border-radius: 50%;
    left:20px;
    top:5px;
  }

  .b3::after {
    content: "";
    position: absolute;
    z-index: 2;
    width:10px;
    height:10px;
    background-color: white;
    border-radius: 50%;
    right:20px;
    top:5px;
  }

  .hole2 {
    width:50px;
    height:50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    overflow: hidden;
    left:40px;
    bottom:0px;
  }

  .ball {
    width:30px;
    height:30px;
    background-color: #03A9F4;
    position: absolute;
    border-radius: 50%;
    right:50px;
    top:40px;
    -webkit-animation: ballMovement 3.5s linear infinite;
    animation: ballMovement 3.5s linear infinite;
  }

  .ball::before {
    content: "";
    position: absolute;
    width:10px;
    height:14px;
    background-color: #B4E0E1;
    position: absolute;
    border-radius: 50%;
    right:14px;
    top:1px;
    transform:rotate(40deg);
  }

  /*formula*/
  .formula span{
    font-size: 18px;
    font-weight: bold;
    animation :demo 5s infinite alternate linear forwards;
  }
  .formula{
    overflow-y: scroll;
    overflow-x: hidden;
  }
  @keyframes demo{
    0%{
      fill:none;
      stroke-dashoffset:1000;
      opacity: 0.6;
    }
    50%{
      fill:rgba(255,0,0,0);
      stroke-dashoffset:75;
      opacity: 0.8;
    }
    100%{
      stroke-dashoffset:0;
      opacity: 1;

    }
  }

  /*description*/
  .description p{
    font-family: courier;
    font-size: 20px;
  }
  .description span{
    font-size: 20px;
  }
  .description{
    overflow-y:scroll;
    overflow-x: hidden;
  }
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  .container{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .animation{
    width: 100%;
    background: #f0e68c;
    height: 105%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*margin: 1% 0 1% 1%;*/

  }
  .sub_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*margin: 1% 1% 1%;*/
    margin-top: 1%;
    margin-bottom: 1%;
    
  }
  .formula{
    background: #98fb98;
    width: 98%;
    height: auto;
    border-bottom: 1px solid black;
    padding: 0 1% 1% 1%;
  }
  .description{
    width: 98%;
    background: #66cdaa;
    height: auto;
    padding: 0 1% 1% 1%;
  }

  /*animation*/

  .line1{
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    width: 97%;
    justify-content: space-around;
    border-right: 10px inset #67C8FF;
    border-left: 10px inset #67C8FF;
    border-top: 10px inset #67C8FF;
  }
  .line2{
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    width: 97%;
    justify-content: space-around;
    border-right: 10px inset #67C8FF;
    border-left: 10px inset #67C8FF;
    border-bottom: 10px inset #67C8FF; 
  }

  .circleRed{
    display: block;
    background: red;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, red, #000);
    animation: showRed 15s linear 5s forwards;
  }
  .circleGreen{
    display: block;
    background: green;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, green, #000);
    animation: showGreen 15s linear 5s forwards;
  }
  .circleBlue{
    display: block;
    background: blue;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, blue, #000);
    animation: showBlue 15s linear 5s forwards;
  }
  @keyframes showRed{
    0% {
      opacity: 0.2;
    }
    8%{
      opacity: 0.4;
    }
    16%{
      opacity: 0.6;
    }
    24%{
      opacity: 0.8;
    }
    33% {
      opacity: 1;
    }
    34% {
      opacity: 0.1;
    }
    99%{
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showGreen{
    0% {
      opacity: 0.1;
    }
    34%{
      opacity: 0.2;
    }
    40%{
      opacity: 0.4;
    }
    48%{
      opacity: 0.6;
    }
    56%{
      opacity: 0.8;
    }
    66% {
      opacity: 1;
    }
    67% {
      opacity: 0.1;
    }
    99%{
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showBlue{
    0% {
      opacity: 0.1;
    }
    66%{
      opacity: 0.1;
    }
    72%{
      opacity: 0.4;
    }
    80%{
      opacity: 0.6;
    }
    88%{
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .line3{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .cRed{
    display: block;
    background: red;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background: radial-gradient(circle at 33px 33px, red, #000);
    /*animation: light-dark 10s linear;*/
    animation: bubble 10s linear;
  }
  .cGreen{
    display: block;
    background: green;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background: radial-gradient(circle at 33px 33px, green, #000);
   /* animation: light-dark 10s linear;*/
    animation: bubble 17s linear;
  }
  .cBlue{
    display: block;
    background: blue;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background: radial-gradient(circle at 33px 33px, Blue, #000);
    /*animation: light-dark 10s linear;*/
    animation: bubble 22s linear;
  }

    @keyframes bubble{
    0% {
      display: none;
      opacity: 0;
    }
    20% {
      display: none;
      opacity: 0;
    }
    50% {
      display: none;
      opacity: 0;
    }
    68% {
      display: block;
      opacity: 0.2;
      transform: scale(1);
    }
    75%{
      display: block;
      opacity: 0.4;
      transform: scaleY(0.95) scaleX(1.05);
    }
    80% {
      display: block;
      opacity: 0.5;
      transform: scaleY(1.1) scaleX(0.9);
    }
    86%{
      display: block;
      opacity: 0.7;
      transform: scaleY(0.98) scaleX(1.02);
    }
    91%{
      display: block;
      opacity: 0.8;
      transform: scaleY(1.02) scaleX(0.98);
    }
    97%, 100% {
      display: block;
      opacity: 1;
      transform: scale(1);
    }
  }

  .line4{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 97%;
  }
  .line4 p{
    font-family: courier;
    font-size: 20px;
    font-weight: bold;
    /*will-change: opacity, filter;
    opacity: 0;
    filter: blur(0px);*/
  }
  .line5{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 97%;
  }
  .line5 p{
    font-family: courier;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
  }
  .tp{
    color: black;
    font-size: 30px;
    animation: bubble 10s linear;
  }
  .equalto1{
    font-size: 40px;
    animation: bubble 10s linear;
  }
  .red{
    color: red;
    font-size: 40px;
    animation: bubble 10s linear;
  }
  .green{
    color: green;
    font-size: 40px;
    animation: bubble 17s linear;
  }
  .blue{
    color: blue;
    font-size: 40px;
    animation: bubble 22s linear;
  }
  .plus1{
    font-size: 40px;
    animation: bubble 10s linear;
  }
  .plus2{
    font-size: 40px;
    animation: bubble 17s linear;
  }
  .equalto2{
    font-size: 40px;
    animation: bubble 22s linear;
  }
  .ans{
    font-size: 40px;
    animation: bubble 25s linear;
  }

  /*formula*/
  .formula span{
    font-size: 18px;
    font-weight: bold;
    animation :demo 5s infinite alternate linear forwards;
  }
  @keyframes demo{
    0%{
      fill:none;
      stroke-dashoffset:1000;
      opacity: 0.6;
    }
    50%{
      fill:rgba(255,0,0,0);
      stroke-dashoffset:75;
      opacity: 0.8;
    }
    100%{
      stroke-dashoffset:0;
      opacity: 1;

    }
  }

  /*description*/
  .description p{
    font-family: courier;
    font-size: 20px;
  }
  .description span{
    font-size: 20px;
  }

}

@media (min-width: 481px) and (max-width: 767px) {

  .container{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .animation{
    width: 100%;
    background: #f0e68c;
    height: 105%;
    margin-top: 1%;
    margin-bottom: 1%;
    /*margin: 1% 0 1% 1%;*/

  }
  .sub_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*margin: 1% 1% 1%;*/
    margin-top: 1%;
    margin-bottom: 1%;
    
  }
  .formula{
    background: #98fb98;
    width: 98%;
    height: auto;
    border-bottom: 1px solid black;
    padding: 0 1% 1% 1%;
  }
  .description{
    width: 98%;
    background: #66cdaa;
    height: auto;
    padding: 0 1% 1% 1%;
  }

  /*animation*/

  .line1{
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    width: 97%;
    justify-content: space-around;
    border-right: 10px inset #67C8FF;
    border-left: 10px inset #67C8FF;
    border-top: 10px inset #67C8FF;
  }
  .line2{
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    width: 97%;
    justify-content: space-around;
    border-right: 10px inset #67C8FF;
    border-left: 10px inset #67C8FF;
    border-bottom: 10px inset #67C8FF; 
  }

  .circleRed{
    display: block;
    background: red;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, red, #000);
    animation: showRed 15s linear 5s forwards;
  }
  .circleGreen{
    display: block;
    background: green;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, green, #000);
    animation: showGreen 15s linear 5s forwards;
  }
  .circleBlue{
    display: block;
    background: blue;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, blue, #000);
    animation: showBlue 15s linear 5s forwards;
  }
  @keyframes showRed{
    0% {
      opacity: 0.2;
    }
    8%{
      opacity: 0.4;
    }
    16%{
      opacity: 0.6;
    }
    24%{
      opacity: 0.8;
    }
    33% {
      opacity: 1;
    }
    34% {
      opacity: 0.1;
    }
    99%{
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showGreen{
    0% {
      opacity: 0.1;
    }
    34%{
      opacity: 0.2;
    }
    40%{
      opacity: 0.4;
    }
    48%{
      opacity: 0.6;
    }
    56%{
      opacity: 0.8;
    }
    66% {
      opacity: 1;
    }
    67% {
      opacity: 0.1;
    }
    99%{
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showBlue{
    0% {
      opacity: 0.1;
    }
    66%{
      opacity: 0.1;
    }
    72%{
      opacity: 0.4;
    }
    80%{
      opacity: 0.6;
    }
    88%{
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .line3{
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }

  .cRed{
    display: block;
    background: red;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background: radial-gradient(circle at 33px 33px, red, #000);
    /*animation: light-dark 10s linear;*/
    animation: bubble 10s linear;
  }
  .cGreen{
    display: block;
    background: green;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background: radial-gradient(circle at 33px 33px, green, #000);
   /* animation: light-dark 10s linear;*/
    animation: bubble 17s linear;
  }
  .cBlue{
    display: block;
    background: blue;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background: radial-gradient(circle at 33px 33px, Blue, #000);
    /*animation: light-dark 10s linear;*/
    animation: bubble 22s linear;
  }

    @keyframes bubble{
    0% {
      display: none;
      opacity: 0;
    }
    20% {
      display: none;
      opacity: 0;
    }
    50% {
      display: none;
      opacity: 0;
    }
    68% {
      display: block;
      opacity: 0.2;
      transform: scale(1);
    }
    75%{
      display: block;
      opacity: 0.4;
      transform: scaleY(0.95) scaleX(1.05);
    }
    80% {
      display: block;
      opacity: 0.5;
      transform: scaleY(1.1) scaleX(0.9);
    }
    86%{
      display: block;
      opacity: 0.7;
      transform: scaleY(0.98) scaleX(1.02);
    }
    91%{
      display: block;
      opacity: 0.8;
      transform: scaleY(1.02) scaleX(0.98);
    }
    97%, 100% {
      display: block;
      opacity: 1;
      transform: scale(1);
    }
  }

  .line4{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    width: 97%;
  }
  .line4 p{
    font-family: courier;
    font-size: 20px;
    font-weight: bold;
    /*will-change: opacity, filter;
    opacity: 0;
    filter: blur(0px);*/
  }
  .line5{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 97%;
  }
  .line5 p{
    font-family: courier;
    font-weight: bold;
  }
  .tp{
    color: black;
    font-size: 30px;
    animation: bubble 10s linear;
  }
  .equalto1{
    font-size: 35px;
    animation: bubble 10s linear;
  }
  .red{
    color: red;
    font-size: 35px;
    animation: bubble 10s linear;
  }
  .green{
    color: green;
    font-size: 35px;
    animation: bubble 17s linear;
  }
  .blue{
    color: blue;
    font-size: 35px;
    animation: bubble 22s linear;
  }
  .plus1{
    font-size: 35px;
    animation: bubble 10s linear;
  }
  .plus2{
    font-size: 35px;
    animation: bubble 17s linear;
  }
  .equalto2{
    font-size: 35px;
    animation: bubble 22s linear;
  }
  .ans{
    font-size: 35px;
    animation: bubble 25s linear;
  }

  /*formula*/
  .formula span{
    font-size: 18px;
    font-weight: bold;
    animation :demo 5s infinite alternate linear forwards;
  }
  @keyframes demo{
    0%{
      fill:none;
      stroke-dashoffset:1000;
      opacity: 0.6;
    }
    50%{
      fill:rgba(255,0,0,0);
      stroke-dashoffset:75;
      opacity: 0.8;
    }
    100%{
      stroke-dashoffset:0;
      opacity: 1;

    }
  }

  /*description*/
  .description p{
    font-family: courier;
    font-size: 20px;
  }
  .description span{
    font-size: 20px;
  }


}
/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 240px) and (max-width: 480px) {

  .container{
    width:100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .animation{
    width: 100%;
    background: #f0e68c;
    height: auto;
    margin-top: 1%;
    margin-bottom: 1%;
    /*margin: 1% 0 1% 1%;*/

  }
  .sub_container{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /*margin: 1% 1% 1%;*/
    margin-top: 1%;
    margin-bottom: 1%;
    
  }
  .formula{
    background: #98fb98;
    width: 98%;
    height: auto;
    border-bottom: 1px solid black;
    padding: 0 1% 1% 1%;
  }
  .description{
    width: 98%;
    background: #66cdaa;
    height: auto;
    padding: 0 1% 1% 1%;
  }

  /*animation*/

  .line1{
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    width: 97%;
    justify-content: space-around;
    border-right: 10px inset #67C8FF;
    border-left: 10px inset #67C8FF;
    border-top: 10px inset #67C8FF;
  }
  .line2{
    display: flex;
    flex-direction: row;
    padding: 12px 0px;
    width: 97%;
    justify-content: space-around;
    border-right: 10px inset #67C8FF;
    border-left: 10px inset #67C8FF;
    border-bottom: 10px inset #67C8FF; 
  }

  .circleRed{
    display: block;
    background: red;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, red, #000);
    animation: showRed 15s linear 5s forwards;
  }
  .circleGreen{
    display: block;
    background: green;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, green, #000);
    animation: showGreen 15s linear 5s forwards;
  }
  .circleBlue{
    display: block;
    background: blue;
    border-radius: 100%;
    height: 45.83px;
    width: 49.3px;
    background: radial-gradient(circle at 20px 20px, blue, #000);
    animation: showBlue 15s linear 5s forwards;
  }
  @keyframes showRed{
    0% {
      opacity: 0.2;
    }
    8%{
      opacity: 0.4;
    }
    16%{
      opacity: 0.6;
    }
    24%{
      opacity: 0.8;
    }
    33% {
      opacity: 1;
    }
    34% {
      opacity: 0.1;
    }
    99%{
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showGreen{
    0% {
      opacity: 0.1;
    }
    34%{
      opacity: 0.2;
    }
    40%{
      opacity: 0.4;
    }
    48%{
      opacity: 0.6;
    }
    56%{
      opacity: 0.8;
    }
    66% {
      opacity: 1;
    }
    67% {
      opacity: 0.1;
    }
    99%{
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes showBlue{
    0% {
      opacity: 0.1;
    }
    66%{
      opacity: 0.1;
    }
    72%{
      opacity: 0.4;
    }
    80%{
      opacity: 0.6;
    }
    88%{
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }

  .line3{
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .cRed{
    display: block;
    background: red;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    background: radial-gradient(circle at 33px 33px, red, #000);
    /*animation: light-dark 10s linear;*/
    animation: bubble 10s linear;
  }
  .cGreen{
    display: block;
    background: green;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    margin-bottom: 10px;
    background: radial-gradient(circle at 33px 33px, green, #000);
   /* animation: light-dark 10s linear;*/
    animation: bubble 17s linear;
  }
  .cBlue{
    display: block;
    background: blue;
    border-radius: 100%;
    height: 120px;
    width: 120px;
    background: radial-gradient(circle at 33px 33px, Blue, #000);
    /*animation: light-dark 10s linear;*/
    animation: bubble 22s linear;
  }

    @keyframes bubble{
    0% {
      display: none;
      opacity: 0;
    }
    20% {
      display: none;
      opacity: 0;
    }
    50% {
      display: none;
      opacity: 0;
    }
    68% {
      display: block;
      opacity: 0.2;
      transform: scale(1);
    }
    75%{
      display: block;
      opacity: 0.4;
      transform: scaleY(0.95) scaleX(1.05);
    }
    80% {
      display: block;
      opacity: 0.5;
      transform: scaleY(1.1) scaleX(0.9);
    }
    86%{
      display: block;
      opacity: 0.7;
      transform: scaleY(0.98) scaleX(1.02);
    }
    91%{
      display: block;
      opacity: 0.8;
      transform: scaleY(1.02) scaleX(0.98);
    }
    97%, 100% {
      display: block;
      opacity: 1;
      transform: scale(1);
    }
  }

  .line4{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 97%;
  }
  .line4 p{
    font-family: courier;
    font-size: 20px;
    font-weight: bold;
    /*will-change: opacity, filter;
    opacity: 0;
    filter: blur(0px);*/
  }
  .line5{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    width: 97%;
  }
  .line5 p{
    font-family: courier;
    font-weight: bold;
/*    padding-left: 4px;
    padding-right: 4px;*/
  }
  .tp{
    color: black;
    font-size: 20px;
    animation: bubble 10s linear;
  }
  .equalto1{
    font-size: 20px;
    animation: bubble 10s linear;
  }
  .red{
    color: red;
    font-size: 20px;
    animation: bubble 10s linear;
  }
  .green{
    color: green;
    font-size: 20px;
    animation: bubble 17s linear;
  }
  .blue{
    color: blue;
    font-size: 20px;
    animation: bubble 22s linear;
  }
  .plus1{
    font-size: 20px;
    animation: bubble 10s linear;
  }
  .plus2{
    font-size: 20px;
    animation: bubble 17s linear;
  }
  .equalto2{
    font-size: 20px;
    animation: bubble 22s linear;
  }
  .ans{
    font-size: 20px;
    animation: bubble 25s linear;
  }

  /*formula*/
  .formula span{
    font-size: 18px;
    font-weight: bold;
    animation :demo 5s infinite alternate linear forwards;
  }
  @keyframes demo{
    0%{
      fill:none;
      stroke-dashoffset:1000;
      opacity: 0.6;
    }
    50%{
      fill:rgba(255,0,0,0);
      stroke-dashoffset:75;
      opacity: 0.8;
    }
    100%{
      stroke-dashoffset:0;
      opacity: 1;

    }
  }

  /*description*/
  .description p{
    font-family: courier;
    font-size: 20px;
  }
  .description span{
    font-size: 20px;
  }

  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/